.text {
  font-family: Raleway-Thin;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
}

.text16 {
  font-family: Raleway-Thin;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 16px;
}
