<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 60px; z-index: 10;
  border-radius: 150px 150px 0 0; background: rgba(255, 255, 255, 0.79); width: 10vw; height: 5vw;">
    <!--    <img style="width: 90px;" src="https://img.icons8.com/cotton/128/000000/home&#45;&#45;v2.png"/>-->
    <img src="https://img.icons8.com/nolan/96/home-page.png"/>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center" style="width: 60vw; height: 50vh;  background: rgba(255, 255, 255, 0.79); border-radius: 11px;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 10px -2px;">
    <div fxLayout="row" fxLayoutAlign="center center"
         style="height: 25px; width: 100%; font-family: DancingScript; font-size: 32px; margin-top: 45px;">
      <div>Jeni gati të gjeni dike që të përkujdeset për ju?</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="135px" fxFlex="90">
      <div fxFlex="50" fxLayoutAlign="space-between center" fxLayout="column" class="div-card">
        <div style="font-weight: 700;font-size: 18px">Kërkoj shërbim</div>
        <div style="font-size: 13px;margin-top:25px">Gjej atë që ke nevojë !</div>
        <div class="div-button" [routerLink]="['/category-select']">Kerko</div>
      </div>
      <div fxFlex="50" fxLayoutAlign="space-between center" fxLayout="column" class="div-card">
        <div style="font-weight: 700;font-size: 18px">Ofroj shërbim</div>
        <div style="font-size: 13px;margin-top:25px">Deshiroj te punesohem !</div>
        <div class="div-button" [routerLink]="['/jobs/null']">Kerko</div>
      </div>
    </div>
  </div>
</div>



