.div-card {
  background: #ffffffc2;
  border-radius: 10px;
  box-shadow: #0000001f 0 10px 15px -3px;
  width: 20vw;
  height: 15vh;
  font-family: Raleway-Light;
  letter-spacing: 1px;
  padding: 10px;
}

.div-button {
  border-radius: 50px;
  background: #009688;
  width: 8vw;
  height: 3vh;
  color: white;
  text-align: center;
  font-weight: 600;
  padding-top: 7px;
  margin-top: 7px;
  cursor: pointer;
}
